.design 
.github 
.idea 
.images 
.logo 
.soda_resource_tools_server 
.soda_resource_tools_webui 
soda_cli/target
soda_cli/cache
soda_resource_tools_lib/target
soda_resource_tools_lib/cache
.vscode
soda_cli_config
target
Cargo.lock
Cross.toml
soda_clix_build_release.ps1 
soda_clix_build_release.sh